<ion-header>
  <ion-toolbar>
    <ion-title>Edit Schema</ion-title>
    <ion-buttons slot="end">
      <ion-button id="closeButton" (click)="closeModal(null)" title="Close">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button fill="outline" (click)="add()" *ngIf="this.colors.length < 10" color="success" >
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button fill="outline" (click)="remove()" *ngIf="this.colors.length > 2" color="danger">
          <ion-icon slot="icon-only"  name="remove-circle"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding" *ngIf="!loading">
      <ion-col *ngFor="let color of colors; let i=index">
        <ion-input class="ion-no-padding" id="color_{{i}}" type="color" (ionBlur)="changeColor($event, i)" [value]="color"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding" class="ion-text-center" *ngIf="!loading">
      <ion-col *ngFor="let color of colors; let i=index" [ngStyle]="{'color': color}">
        {{color}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button expand="full" fill="outline" (click)="closeModal(colors)">Save</ion-button>
</ion-footer>