
.full-height
{
  min-height: 100vh;
  cursor: pointer;
}


.invert-color {
  position: absolute;
  bottom: 2px;
  filter: invert(1);
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}
